/* Footer.css */

.footer {
    background-color: #363636;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    margin: 20px 0;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

.social-links {
    margin-top: 10px;
    gap: 10px;
}

.social-links a {
    color: white;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}


/* Mobile Responsiveness */

@media (max-width: 480px) {
    .footer-content {
        padding: 15px;
    }
    .contact-info p {
        font-size: 12px;
        /* Smaller font for very small screens */
    }
    .social-links a {
        font-size: 20px;
        /* Even smaller icons */
        margin: 0 8px;
        /* Even more compact */
    }
}